/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0.2em;
}

	div#text {
	  position: absolute;
	  background-color: rgba(255, 255, 255, 0.7)
	}

.hidden {
	display:none;
}
@media only screen and (max-width: 800px) {
	h1 {
		font-size: 0.7em;
	}
	div#text {
	  left: 1px; 
	  top: 1px;
	  padding: 1px;
	  max-width: 30%;
	  font-size: 0.4em;
	}
	.hideOnMobile {
		display:none;
	}
	button {
		font-size: 0.9em;
		padding : 0px;
	}
	select {
		font-size: 0.7em;
		padding : 1px;
	}

}


@media only screen and (min-width: 801px) {
	h1 {
	/*  font-style: italic;
	  color: #373fff;
	*/
	  font-size: 1.1em;
	}
	div#text {
	  left: 6px; 
	  top: 6px;
	  padding: 6px;
	  /*
	  text-shadow: 0 0 5px white;
	  */
	  max-width: 400px;
	  font-size: 0.7em;
	}
}




button:hover {
	background-color: navajowhite;
}

button.active {
	background-color: lightsalmon;
}

