/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0.2em;
}

div#text {
  background-color: rgba(255, 255, 255, 0.7)
}

.hidden {
	display:none;
}
@media only screen and (max-width: 800px) {

	div#text {
      position: absolute;
	  left: 0.5em; 
	  top: 3em;
	  padding: 1px;
	  max-width: 30%;
	  font-size: 0.7em;
	  transform: rotate(90deg);
	}
	.hideOnMobile {
		display:none;
	}
	select {
		font-size: 1em;
		padding : 1px;
	}
	button.small {
		font-size: 1em;
	}

}


@media only screen and (min-width: 801px) {

	div#text {
      position: absolute;
	  left: 6px; 
	  top: 6px;
	  padding: 6px;
	  /*
	  text-shadow: 0 0 5px white;
	  */
	  max-width: 400px;
	  font-size: 0.7em;
	}
}




button:hover {
	background-color: navajowhite;
}

button.active {
	background-color: lightsalmon;
}

